DirectoryIndex index.php

RewriteEngine On

RewriteRule ^index\.html$ /index.php [R=301,L]
RewriteRule ^page-404\.html$ /page-404.php [R=301,L]
RewriteRule ^page-about\.html$ /page-about.php [R=301,L]
RewriteRule ^page-contact\.html$ /page-contact.php [R=301,L]
RewriteRule ^page-services\.html$ /page-services.php [R=301,L]
RewriteRule ^page-service-details\.html$ /page-service-details.php [R=301,L]
RewriteRule ^page-projects\.html$ /page-projects.php [R=301,L]
RewriteRule ^page-project-details\.html$ /page-project-details.php [R=301,L]
RewriteRule ^page-house-and-lot\.(?:html|php)$ /page-houses-and-townhouses.php [R=301,L]
RewriteRule ^page-prime-lots\.(?:html|php)$ /page-lots-and-land.php [R=301,L]
RewriteRule ^page-rentals\.(?:html|php)$ /page-projects.php?purpose=rent [R=301,L,NE]
RewriteRule ^page-construction\.(?:html|php)$ /page-service-details.php?service=construction-design-build [R=301,L,NE]
RewriteRule ^page-houses-and-townhouses\.html$ /page-houses-and-townhouses.php [R=301,L]
RewriteRule ^page-condos-and-apartments\.html$ /page-condos-and-apartments.php [R=301,L]
RewriteRule ^page-lots-and-land\.html$ /page-lots-and-land.php [R=301,L]
RewriteRule ^page-commercial-and-investment\.html$ /page-commercial-and-investment.php [R=301,L]
